@model PBC.Models.Family

@{
    ViewBag.Title = "Create";
}

<style type="text/css">
    .invalid{
        border: solid;
        border-width: 2;
        border-color: #ff0000;
    }
</style>

<h2>Create</h2>

<div id="calc-app">
    <div class="row">
        <!--Add member form-->
        <addmember-component :members.sync="members"></addmember-component>
        <!--End of add member form-->
        <!--Family Results Section-->
        <calculated-results-component v-on:calculate="runCalculations"></calculated-results-component>
        <!--End of Family Results Section-->
        <!--Family Members Section-->
        <div class="col s6 m6">
            <div class="row">
                <div class="col s12">
                    <ul class="collection" style="border: none;" v-for="member in members">
                        <li class="collection-item avatar blue-grey lighten-5" style="margin: 5px; border-radius: 10px;">
                            <span class="bold" data-bind="text: userTag"></span><br />
                            <p>
                                <span class="blue-grey-text lighten-3">Name:</span> <span class="grey-text lighten-2">{{member.FullName}}</span><br>
                                <span class="blue-grey-text lighten-3">DOB:</span> <span class="grey-text lighten-2">{{member.DateOfBirth}}</span><br>
                                <span class="blue-grey-text lighten-3">Relationshp:</span> <span class="grey-text lighten-2">{{member.Role}}</span><br>

                            </p>
                            <a href="#!" class="secondary-content"><i class="material-icons icon-black">person</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End of Family Members Section-->
    </div>
    <div class="row">
        <sample-component></sample-component>
    </div>   
</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.4/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.16/vue-resource.min.js"></script>
<script src="~/Scripts/app/components/sample-component.js"></script>
<script src="~/Scripts/app/components/addmember.component.js"></script>
<script src="~/Scripts/app/components/calculated-results.component.js"></script>
<script src="~/Scripts/calculations-app.js"></script>


